@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
    margin: 0;
    max-width: 100%;
    color: #FFFFFF;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: calc(100% + 2*48px);
        margin: 0 -48px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: calc(100% + 2*24px);
        margin: 0 -24px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: calc(100% + 2*16px);
        margin: 0 -16px;
    }
}